include grappelli_safe/LICENSE
recursive-include grappelli_safe/media *
recursive-include grappelli_safe/templates *.html
recursive-include grappelli_safe/locale *.mo *.po
recursive-include grappelli_safe/models/fixtures *.json
