{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset' %}</div>{% endblock %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}

{% if not title %}
<h1>{% trans 'Password reset complete' %}</h1>
{% endif %}

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

{% url "admin:index" as admin_index_url %}
<p><a href="{{ admin_index_url|default:"/admin/" }}">{% trans 'Log in' %}</a></p>

{% endblock %}
