{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset' %}</div>{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

{% if not title %}
<h1>{% trans "Password reset" %}</h1>
{% endif %}

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</p>
<style>#id_email {margin:0 5px;}</style>
<form action="" method="post">{% csrf_token %}
{% if form.email.errors %}{{ form.email.errors }}{% endif %}
<p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>

{% endblock %}
